<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Countries</ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <!-- Show message if no countries are found -->
   <div *ngIf="!countries?.length" class="no-results">
    <p>{{ errorMessage }}</p>
  </div>

  <ion-card *ngFor="let country of countries">
    <img
      src="{{ country.flags.png }}"
      class="ion-margin"
    />
    <ion-card-header>
      <ion-card-title>{{ country.name.common }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="primary" fill="outline" (click)="navigateToNews(country)">News</ion-button>
      <ion-button e color="primary" fill="outline" (click)="navigateToWeather(country)">Weather</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
