<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Countries</ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let country of countries">
    <img
      src="{{ country.flags.png }}"
      alt="{{ country.name.common + ' flag' }}"
    />
    <ion-card-header>
      <ion-card-title>{{ country.name.common }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="primary" fill="outline">News</ion-button>
      <ion-button e color="primary" fill="outline">Weather</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
