<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>News from {{ countryName }}</ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="noNews" class="ion-align-items-center">
    <h2>No news found for {{ countryName }}</h2>
  </div>

  <div *ngIf="!noNews">
    <ion-card *ngFor="let news of newsResults" class="ion-margin">
      <img *ngIf="news.image_url" src="{{news.image_url}}" class="news-image" />
      <ion-card-header>
        <ion-card-title>{{ news.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content> {{ news.description}} </ion-card-content>
    </ion-card>
  </div>
</ion-content>
