<ion-header>
  <ion-toolbar>
    <ion-title>G00425765</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/settings">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="ion-align-items-center">
    <ion-text class="ion-text-nowrap">Enter Country</ion-text>
    <ion-input
      [(ngModel)]="searchTerm"
      placeholder="Country Name"
      class="ion-margin-start"
    ></ion-input>
  </ion-item>
  <ion-button 
  expand="block" 
  (click)="setSearchTermAndNavigate()"
  [disabled]="isButtonDisabled"
  >Search</ion-button>
</ion-content>
